# Testing libraries
flake8
pytest

# APIs
python-binance
discord~=2.3.1

# Computing libraries
numpy~=1.25.2
pandas~=2.1.0

# Neural Networks libraries
tensorflow
keras~=2.13.1
scikit-learn~=1.3.0

# Additional libraries
requests~=2.31.0
pyyaml~=6.0.1
matplotlib~=3.7.2
humanfriendly~=10.0
influxdb~=5.3.1
influxdb-client
